@font-face {
    font-family: "serif";
    src: url(Butler_and_ButlerStencil/Butler_Webfont/Butler-Medium.woff);
}

@font-face {
    font-family: "sans";
    src: url(glacialindifference/GlacialIndifference-Bold.otf)
}

h1 {
    font-family: "serif";
}

p, h2, h3 {
    font-family: "sans";
}

iframe {
    border-radius: 5px;
    border: black 2px solid;
}

h3, p, img, iframe {
    margin: 0 auto 15px auto;
}

img {
    margin: 0 auto 15px auto;
    width: 200px;
}

.start-card {
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    max-width: 500px;
    margin: 30px 15px 0 15px;
    transition-property: box-shadow, color, background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
    background-color: #595959;
    color: #E0E0E0;
}

.start-card:hover {
    box-shadow: 0 5px 15px -5px #E0E0E0; 
    background-color: #757575;
    color: #FFFFFF;
}

.results-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px black solid;
    border-radius: 5px;
    max-width: 500px;
    margin: 30px 15px 30px 15px;
    margin-bottom: 100px;
    background-color: #595959;
    transition-property: box-shadow, color, background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
    color: #E0E0E0;
}

.results-card:hover {
    box-shadow: 0 5px 15px -5px #E0E0E0; 
    background-color: #757575;
    color: #FFFFFF;
}

.select-flight {
    margin-bottom: 10px
}


.hidden {
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #595959;
    color: #E0E0E0;
    text-align: center;
    border-top: 2px black solid;
    transition-property: color;
    transition-duration: .5s;
    transition-property: box-shadow, color, background-color;
}

a:hover {
    text-decoration: none;
    color: #F8C4C4;
}

a:visited {
    color: #D6E4FA;
}

.footer > p {
    font-size: 0.75em;
    font-family: "serif";  
}

footer:hover {
    background-color: #757575;
    color: #FFFFFF;
}

@media all and (min-width: 500px) {
    iframe {
        width: 390px;
        height: 290px;
        margin-bottom: 30px;
        border-radius: 5px;
        border: black 2px solid;
    }

    .start-card {
        margin: 20px auto 20px auto;   
        /* margin-bottom: 50px; */
    }

    .results-card {
        margin: 0 auto 20px auto;   
        margin-bottom: 75px;
    }
}

.error-message {
    color: darkred;
}

.info-block > p, h3 {
    margin: 2px;
}

.info-block {
    margin-bottom: 15px;
}